extends layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/styles/home.css")
  link(rel="stylesheet", href="/styles/layout.css")

block content
  div.header-container
    section.main-content
      h1 Welcome to Our Accounting System
      p Your Trusted Partner for Financial Management
      .options
        a(href='/accountant') Accountant
        a(href='/accounts') Accounts
        a(href='#') Ledger
