
    <div class="header-container"></div>
    <div class="table-page">
        <h1>Accountants</h1>
        <button id="addNew">Add New</button>
        <div id="formContainer" class="hidden">
            <form id="accountForm">
                <label for="code">Accountant Code:</label>
                <input type="text" id="code" required>
                <label for="name">Name:</label>
                <input type="text" id="name" required>
                <button type="submit">Add</button>
                <a href="caTable.html">View Accountants</a>
            </form>
        </div>
    </div>
    <script src="../public/scripts/accountant.js"></script>

