{{#> layouts/main-layout}}

  {{#block "styles"}}
    <link rel="stylesheet" href="../../public/styles/home.css">
  {{/block}}

  {{#block "content"}}
    <section class="hero">
      <h1>Welcome to Your Accounting System</h1>
      <p>Manage your finances with ease.</p>
      <a class="cta-button" href="#">Get Started</a>
    </section>
  {{/block}}

{{/layouts/main-layout}}
