<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if formsCSS}}
        <link rel="stylesheet" href="/css/forms.css">
    {{/if}}
    {{#if productCSS}}
        <link rel="stylesheet" href="/css/product.css">
    {{/if}}
    <link rel="stylesheet" href="../../public/styles/layout.css" type="text/css">
    <script src="../../public/scripts/layout.js" defer></script>
    {{#block "styles"}}
    {{/block}}
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="#">Your Logo</a>
            </div>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="/views/accountant.html">Accountant</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="#">Ledger</a></li>
            </ul>
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </header>
    {{#block "content"}}
    {{/block}}
</body>

</html>
