/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the header and navigation bar */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.menu li {
    margin-right: 20px;
    position: relative; /* Added to position submenus */
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* Dropdown menu styles */
.dropdown-menu {
    position: absolute;
    top: 100%;
    font-size: small;
    left: 0;
    background-color:#007bff;
    display: none;
    min-width: 180px; 
    z-index: 1;
    padding: 10px;
    list-style: none;
    border: 1px solid #2474d0 ;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px #ffffff; */
    text-align: center;
}

.menu li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    text-align: center;
    margin-top: 6px;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.dropdown-menu a:hover {
    border-bottom: 1px solid white;

}

/* Hamburger menu styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 30px;
    background-color: #fff;
    margin: 3px 0;
    transition: transform 0.4s, opacity 0.4s;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #007bff;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 0; /* Remove padding */
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
