<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountants</title>
    <link rel="stylesheet" href="../public/styles/accountant.css">
</head>
<body>
    <div class="header-container"></div>
    <div class="table-page">
    <h1>Accountants</h1>
    <button id="addNew">Add New</button>
    <div id="formContainer" class="hidden">
        <form id="accountForm">
            <label for="code">Accountant Code:</label>
            <input type="text" id="code" required>
            <label for="name">Name:</label>
            <input type="text" id="name" required>
            <button type="submit">Add</button>
            <button class="view" href="caTable.html">View Accountants</button>
        </form>
    </div>
</div>
    <script src="../../public/scripts/accountant.js"></script>
</body>
</html>

