<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountants Table</title>
    <link rel="stylesheet" href="../public/styles/accountantTable.css">
  
</head>
<body>
    <div class="header-container"></div>
    <h1>Accountants Table</h1>
    <a href="index.html">Go Back</a>
    <div id="tableContainer">
        <table id="accountTable">
            <thead>
                <tr>
                    <th>Accountant Code</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="accountList">
            </tbody>
        </table>
    </div>
    <script src="../../public/scripts/accountantTable.js"></script>
</body>
</html>
