<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/home.css">
  <script src="/public/scripts/layout.js"></script>
  <title>Document</title>
</head>
<body> 
  <section class="hero">
          <h1>Welcome to Your Accounting System</h1>
          <p>Manage your finances with ease.</p>
          <a href="#" class="cta-button">Get Started</a>
      </section>
</body>
</html>

